@charset "UTF-8";
@use "./setting" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-bg;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "KsoShinfutokaisho";
  src: url("../fonts/KsoShinfutokaisho.otf") format("opentype");
}

@font-face {
  font-family: "KsoFutokaisho";
  src: url("../fonts/KsoFutokaisho.otf") format("opentype");
}

.item {
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item__inner {
  padding: 0 8px;
  position: relative;
  width: 100%;
}

.item__contents {
  position: relative;
  max-width: 380px;
  margin: 0 auto;
}

.item___img__box {
  max-width: 380px;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
  }
}

.item__text__box {
  position: absolute;
  width: 100%;
  padding: 0 32px;
  top: 181px;
  left: 50%;
  transform: translateX(-50%);
  @include media(bp370) {
    top: 146px;
  }
}

.item__text {
  color: $color-text;
  text-align: center;
  font-family: $family-ksoFutokaisho;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.39px;
  @include media(bp345) {
    font-size: 10px;
    line-height: 20px;
  }
  &:nth-child(2) {
    margin: 15px auto 11px;
    @include media(bp370) {
      margin: 6px auto;
    }
  }
  span {
    display: inline-block;
    transform: translate3d(0, 12px, 0);
    opacity: 0;
    visibility: hidden;
    will-change: opacity, transform;
  }
  &.openPageTitle {
    span {
      transition-timing-function: linear, cubic-bezier(0.12, 0.86, 0.3, 1) !important;
      transition-duration: 1500ms, 2300ms !important;
      transition-property: opacity, transform !important;
      opacity: 1 !important;
      transform: translate3d(0, 0, 0) !important;
      transition-delay: var(--delay) !important;
      visibility: visible;
    }
  }
}

.koshu__link {
  position: absolute;
  top: 493px;
  left: 50%;
  transform: translateX(-50%);
  @include media(bp370) {
    top: 452px;
  }
  @include media(bp345) {
    top: 390px;
  }
  img {
    height: auto;
  }
}

.koshu__text__box {
  position: relative;
  max-width: 424px;
  margin: 0 auto;
  z-index: 2;
  img {
    height: auto;
    position: absolute;
    z-index: -1;
  }
  .koshu-img-left {
    left: -8px;
    top: -18px;
  }
  .koshu-img-right {
    right: -8px;
    top: -18px;
  }
}

.item__01 {
  .koshu__text__box {
    z-index: -1;
  }
  .koshu-img-left {
    left: 43px;
    top: -32px;
  }
  .koshu-img-right {
    right: 43px;
    top: -32px;
  }
}

.koshu__text {
  color: $color-text-bottom;
  font-size: 14px;
  font-family: $family-KsoShinfutokaisho;
  text-align: center;
  font-weight: 400;
  padding-top: 15px;
  strong {
    font-size: 18px;
  }

}

.item__01 {
  .swiper-button-prev {
    width: 92.391px;
    height: 81px;
    top: initial;
    left: -8px;
    bottom: -12px;
    z-index: 3;
    @include media(bp390) {
      width: 80px;
      height: 68px;
    }
    &::after {
      display: none;
    }
    &::before {
      content: "";
      display: block;
      width: 92.391px;
      height: 81px;
      background-image: url(/images/no.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include media(bp390) {
        width: 80px;
        height: 68px;
      }
    }
  }
  .swiper-button-next {
    width: 92.391px;
    height: 81px;
    top: initial;
    right: -7px;
    bottom: -12px;
    z-index: 3;
    @include media(bp390) {
      width: 80px;
      height: 68px;
    }
    &::after {
      display: none;
    }
    &::before {
      content: "";
      display: block;
      width: 92.391px;
      height: 81px;
      background-image: url(/images/yes.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include media(bp390) {
        width: 80px;
        height: 68px;
      }
    }
  }
}

.item {
  .next-arrow {
    width: 29px;
    height: 25px;
    top: initial;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    z-index: 3;
    &::after {
      display: none;
    }
    &::before {
      content: "";
      display: block;
      width: 29px;
      height: 25px;
      background-image: url(/images/next-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
